body
{
  background-color:#E8F9FD;
}

hr
{
  /* background-color:#59CE8F; */
  border-style: dotted none none;
  border-color: grey;
  border-width: 5px;
  width: 30%;
}

img
{
height: 400px;
width: 400px;
}

h1{
  color: #42855B ;
}
